<!DOCTYPE html>
<html>
<head>
<title>Chandra Radiation Summary</title>
<meta http-equiv="refresh" content="300"/>
</head>
<body style="width:95%;margin-left:10px; margin-right:10px; background-color:#FAEBD7;">

<div style="float:right;">
<a href="../../sot.html">Back to the SOT home page</a>
<br />
<a href="../index.html">Back to Radiation Main Page</a>
</div>
<h2>Chandra Radiation Environment Summary</h2>
<p>
See <a href="about_rad_summ.html">about rad_summ</a> for the definition and origin of the values below.
</p>

<!-- In displaying numeric values, floats are precision 1, scientific notations are precision 3-->
<!-- All data values, tag identified with id attribute, contain comments to specify possible conversion of fetched value within the javascript-->

<table border=0>
<tr>
    <th>Orbit start:</th><td><span id="time-orbit_start">--</span> (<span id="duration-orbit_duration">--</span> ksec in this period)</td><!--default, float ks-->
</tr>
<tr>
    <th>Current altitude/orbit leg:</th><td><span id="general-orbit_altitude">--</span> <span id="general-orbit_leg">--</span> (km)</td><!--default, default-->
</tr>
<tr>
    <th>Current configuration:</th><td><span id="general-instrument">--</span> <span id="general-grating">--</span></td><!--default, default-->
</tr>
<tr>
    <th>Next comm:</th><td><span id="time-next_comm">--</span> (<span id="duration-till_next_comm">--</span> hours) <span id="general-in_comm"></span></td><!--default, float hours, boolean-->
</tr>
<tr>
    <th>Next rad zone:</th><td><span id="time-next_rad_zone">--</span> (<span id="duration-till_next_rad_zone">--</span> hours) <span id="general-in_rad_zone"></span></td><!--default, float hours, boolean-->
</tr>
<tr>
    <th>Last updated (every 10 minutes):</th><td id="LastUpdated">--</td> <!--default-->
</tr>
</table>
<p>
(all times on this page are UTC)
</p>


<table border=1>
<tr>
    <th>&#160</th><th colspan=6>Attenuated - projects fluences based on upcoming SI and grating configuration
    <br>ACIS effective exposure times (ks)
    &#160 &#160 Until next radzone:   <span id="duration-attenuated_till_next_rad_zone">--</span><!--float ks-->
    &#160 &#160 Until next comm:    <span id="duration-attenuated_till_next_comm">--</span><!--float ks-->
    </th>
</tr>
<tr>
    <th>&#160</th><th>Current Flux</th><th>Current fluence<br>(total so far in current orbit)</th>
    <th>Projected fluence<br>until next rad zone</th>
    <th>Projected fluence</th><th>&#160</th><th>Limits</th>

    <tr><th>&#160</th><th>(p/cm^2-s-sr-MeV)</th><th>(p/cm^2-sr-MeV)</th>
    <th>at current flux<br />(at 2X flux)<br/>*at 10X flux*</th>
    <th>until next comm.</th><th>until second comm.</th><th>&#160</th>
</tr>
<tr>
    <th>CRM</th>
    <td id="attenuated-crm-flux">--</td><!--e-notation-->
    <td id="attenuated-crm-fluence">--</td><!--e-notation-->
    <td>
        <span id="attenuated-crm-proj_rad_zone_1">--</span><br><!--e-notation-->
        (<span id="attenuated-crm-proj_rad_zone_2">--</span>)<br><!--e-notation-->
        *<span id="attenuated-crm-proj_rad_zone_10">--</span>*<br><!--e-notation-->
    </td>
    <td id="attenuated-crm-proj_next_comm">--</td><!--e-notation-->
    <td id="attenuated-crm-proj_second_comm">--</td><!--e-notation-->
    <td>Yellow Limit:<br>1.0e+09 (fluence)</td>
</tr>
<tr>
    <th>ACE P3</th>
    <td id="attenuated-ace_p3-flux">--</td><!--e-notation-->
    <td id="attenuated-ace_p3-fluence">--</td><!--e-notation-->
    <td>
        <span id="attenuated-ace_p3-proj_rad_zone_1">--</span><br><!--e-notation-->
        (<span id="attenuated-ace_p3-proj_rad_zone_2">--</span>)<br><!--e-notation-->
        *<span id="attenuated-ace_p3-proj_rad_zone_10">--</span>*<br><!--e-notation-->
    </td>
    <td id="attenuated-ace_p3-proj_next_comm">--</td><!--e-notation-->
    <td id="attenuated-ace_p3-proj_second_comm">--</td><!--e-notation-->
    <td>Alert Trigger:<br>1.0e+09 (fluence)</td>
</tr>
<tr>
    <th>GOES-R (P4)</th>
    <td id="attenuated-goes_p4-flux">--</td><!--e-notation-->
    <td id="attenuated-goes_p4-fluence">--</td><!--e-notation-->
    <td id="attenuated-goes_p4-proj_rad_zone">--</td><!--e-notation-->
    <td id="attenuated-goes_p4-proj_next_comm">--</td><!--e-notation-->
    <td id="attenuated-goes_p4-proj_second_comm">--</td><!--e-notation-->
    <td>&#160</td>
</tr>
<tr>
    <th>GOES-R (P7)</th>
    <td id="attenuated-goes_p7-flux">--</td><!--e-notation-->
    <td id="attenuated-goes_p7-fluence">--</td><!--e-notation-->
    <td id="attenuated-goes_p7-proj_rad_zone">--</td><!--e-notation-->
    <td id="attenuated-goes_p7-proj_next_comm">--</td><!--e-notation-->
    <td id="attenuated-goes_p7-proj_second_comm">--</td><!--e-notation-->
    <td>&#160</td>
</tr>
<tr>
    <th>GOES-R (E>2.0MeV)</th>
    <td id="attenuated-goes_e2-flux">--</td><!--e-notation-->
    <td id="attenuated-goes_e2-fluence">--</td><!--e-notation-->
    <td id="attenuated-goes_e2-proj_rad_zone">--</td><!--e-notation-->
    <td id="attenuated-goes_e2-proj_next_comm">--</td><!--e-notation-->
    <td id="attenuated-goes_e2-proj_second_comm">--</td><!--e-notation-->
    <td>&#160</td>
</tr>
<tr>
    <th colspan=7>&#160</th>
</tr>
<tr>
    <th>&#160</th><th colspan=6>External - does not take the instrument configuration into account</th>
</tr>
<tr>
    <th>&#160</th><th>Current Flux</th><th>Current fluence<br>(total so far in current orbit)</th>
    <th>Projected fluence</th>
    <th>Projected fluence</th>
    <th>&#160</th>
    <th>Limits</th>
</tr>
<tr>
    <th>&#160</th>
    <th>(p/cm^2-s-sr-MeV)</th>
    <th>(p/cm^2-sr-MeV)</th>
    <th>until next radzone<br>(total for current orbit)</th>
    <th>until next comm.</th>
    <th>until second comm.</th>
    <th>&#160</th>
</tr>
<tr>
    <th>CRM</th>
    <td id="external-crm-flux">--</td><!--e-notation-->
    <td id="external-crm-fluence">--</td><!--e-notation-->
    <td>
        <span id="external-crm-proj_rad_zone_1">--</span><br><!--e-notation-->
        (<span id="external-crm-proj_rad_zone_2">--</span>)<br><!--e-notation-->
        *<span id="external-crm-proj_rad_zone_10">--</span>*<br><!--e-notation-->
    </td>
    <td id="external-crm-proj_next_comm">--</td><!--e-notation-->
    <td id="external-crm-proj_second_comm">--</td><!--e-notation-->
    <td>&#160</td>
</tr>
<tr>
    <th>ACE P3</th>
    <td id="external-ace_p3-flux">--</td><!--e-notation-->
    <td id="external-ace_p3-fluence">--</td><!--e-notation-->
    <td>
        <span id="external-ace_p3-proj_rad_zone_1">--</span><br><!--e-notation-->
        (<span id="external-ace_p3-proj_rad_zone_2">--</span>)<br><!--e-notation-->
        *<span id="external-ace_p3-proj_rad_zone_10">--</span>*<br><!--e-notation-->
    </td>
    <td id="external-ace_p3-proj_next_comm">--</td><!--e-notation-->
    <td id="external-ace_p3-proj_second_comm">--</td><!--e-notation-->
    <td>3.6e8 (2 hr fluence, red)</td>
</tr>
<tr>
    <th>GOES-R (P4)</th>
    <td id="external-goes_p4-flux">--</td><!--e-notation-->
    <td id="external-goes_p4-fluence">--</td><!--e-notation-->
    <td id="external-goes_p4-proj_rad_zone">--</td><!--e-notation-->
    <td id="external-goes_p4-proj_next_comm">--</td><!--e-notation-->
    <td id="external-goes_p4-proj_second_comm">--</td><!--e-notation-->
    <td>30.0/90.9 (flux, yellow/red)</td>
</tr>
<tr>
    <th>GOES-R (P7)</th>
    <td id="external-goes_p7-flux">--</td><!--e-notation-->
    <td id="external-goes_p7-fluence">--</td><!--e-notation-->
    <td id="external-goes_p7-proj_rad_zone">--</td><!--e-notation-->
    <td id="external-goes_p7-proj_next_comm">--</td><!--e-notation-->
    <td id="external-goes_p7-proj_second_comm">--</td><!--e-notation-->
    <td>0.25/0.70 (flux, yellow/red)</td>
</tr>
<tr>
    <th>GOES-R (E>2.0MeV)</th>
    <td id="external-goes_e2-flux">--</td><!--e-notation-->
    <td id="external-goes_e2-fluence">--</td><!--e-notation-->
    <td id="external-goes_e2-proj_rad_zone">--</td><!--e-notation-->
    <td id="external-goes_e2-proj_next_comm">--</td><!--e-notation-->
    <td id="external-goes_e2-proj_second_comm">--</td><!--e-notation-->
    <td>&#160</td>
</tr>
</table>
<br>The current fluence is calculated from the beginning on the current orbit. 
The ACE P3 external fluence starts integrating above 10 kkm.

<br>* EPHIN "fluxes" are raw counts as of the last support [<span id="time-recent_comm">--</span>], not averaged.
<br><br>
<div style="text-align:center;">
<h4>Attenuated CRM Proton Fluence</h4>
    <img src="../Orbit/Plots/crmplatt.png" style="width:60%;"> 
    <p>
     <span style='color:lime;'><b>Green lines</b></span> indicates fluence estimates 
     based on the current KP value.
    </p>

</div>
<div style="padding-bottom:30px;"></div>

<script>
    
    // Since we are working with setInterval to periodically run an asynchronous fetch of data, we work with Javascript Promises and the async and await keywords.
    const radsummURL = "radiation_summary.json";
    const refreshInterval = 300 * 1000;

    async function updateTime(date){
        // Formatted into %Y:%j:%H:%M:%S format as commonly used in cxotime
        const year = date.getUTCFullYear();
        const dayOfYear = String(Math.floor((date - new Date(year, 0, 0)) / (1000 * 60 * 60 * 24))).padStart(3,'0');
        const hours = String(date.getUTCHours()).padStart(2,'0');
        const minutes = String(date.getUTCMinutes()).padStart(2,'0');
        const seconds = String(date.getUTCSeconds()).padStart(2,'0');
        const datetime = `${year}:${dayOfYear}:${hours}:${minutes}:${seconds}`
        document.getElementById("LastUpdated").innerHTML = datetime;
    }

    async function updateData() {
        return fetch(radsummURL, {cache: 'no-cache'}) // Fetch needs to have 'no-cache' so that the browser actually fetches a new copy of the summary data set.
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                // Update the Last Updated time with the summary's file modification time.
                updateTime(new Date(response.headers.get("last-modified")));
                return response.json();
            })
            .then(data => updateHTML(data))
            .catch(error => console.error(`Failed to fetch data: ${error}`));
    }

    function updateHTML(data) {
        // Guided iteration through the summary levels.
        // Radiation metrics
        ['attenuated', 'external'].forEach(table => {
            for (let channel in data[table]){
                for (let col in data[table][channel]) {
                    const match_id = `${table}-${channel}-${col}`;
                    const data_element = document.getElementById(match_id);
                    if (data_element != null) {
                        data_element.innerHTML = (data[table][channel][col]).toExponential(3);
                    }
                }
            }
        });
        // Timing (Kiloseconds)
        ['orbit_duration', 'attenuated_till_next_rad_zone', 'attenuated_till_next_comm'].forEach(key => {
            const match_id = `duration-${key}`;
            const data_element = document.getElementById(match_id);
            if (data_element != null) {
                data_element.innerHTML = (data['duration'][key] / 1000).toFixed(1);
            }
            
        });
        // Timing (Hours)
        ['till_next_rad_zone', 'till_next_comm'].forEach(key => {
            const match_id = `duration-${key}`;
            const data_element = document.getElementById(match_id);
            if (data_element != null) {
                data_element.innerHTML = (data['duration'][key] / 3600).toFixed(1);
            }
            
        });
        /// Booleans
        var value = data['general']['in_comm'];
        var data_element = document.getElementById('general-in_comm');
        if (data_element != null) {
            if (value) {
                data_element.innerHTML = "(Currently in Comm)";
            } else {
                data_element.innerHTML = "";
            }
        }
        var value = data['general']['in_rad_zone'];
        var data_element = document.getElementById('general-in_rad_zone');
        if (data_element != null) {
            if (value) {
                data_element.innerHTML = "(Currently in Rad Zone)";
            } else {
                data_element.innerHTML = "";
            }
        }
        // Time String
        ['orbit_start', 'next_comm', 'next_rad_zone', 'recent_comm'].forEach(key => {
            const data_element = document.getElementById(`time-${key}`);
            if (data_element != null) {
                data_element.innerHTML = data['time'][key].split('.')[0];
            }
        });
        // Default
        ['orbit_altitude', 'orbit_leg', 'instrument', 'grating'].forEach(key => {
            const data_element = document.getElementById(`general-${key}`);
            if (data_element != null) {
                data_element.innerHTML = data['general'][key];
            }
        });
    }
    updateData();
    setInterval(updateData, refreshInterval);

    // so the function is running in terms of reading the json file and updating the html upon first run. but in subsuquent intervals it's not editing the display.

</script>

</body>
</html>

