<!DOCTYPE html>
<html>
<head>
<title>Chandra Radiation Summary</title>
<meta http-equiv="refresh" content="300"/>
</head>
<body style="width:95%;margin-left:10px; margin-right;10px;background-color:#FAEBD7;font-family:Georgia, "Times New Roman", Times, serif">

<div style="float:right;">
<a href="../../sot.html">Back to the SOT home page</a>
<br />
<a href="../index.html">Back to Radiation Main Page</a>
</div>
<h2>Chandra Radiation Environment Summary</h2>
<p>
See <a href="about_rad_summ.html">about rad_summ</a> for the definition and origin of the values below.
</p>

<!-- In displaying numeric values, floats are precision 1, scientific notations are precision 3-->
<!-- All data values, tag identified with id attribute, contain comments to specify possible conversion of fetched value within the javascript-->

<table border=0>
<tr>
    <th>Orbit start:</th><td><span id="orbit_start">--</span> (<span id="orbit_duration">--</span> ksec in this period)</td><!--default, float ks-->
</tr>
<tr>
    <th>Current altitude/orbit leg:</th><td><span id="altitude">--</span> (km)</td><!--default-->
</tr>
<tr>
    <th>Current configuration:</th><td id="instrument_config">--</td><!--default-->
</tr>
<tr>
    <th>Next comm:</th><td><span id="next_comm">--</span> (<span id="till_next_comm">--</span> hours)</td><!--default, float hours-->
</tr>
<tr>
    <th>Next rad zone:</th><td><span id="next_rad_zone">--</span> (<span id="till_next_rad_zone">--</span> hours)</td><!--default, float hours-->
</tr>
<tr>
    <th>Last updated:</th><td id="last_update">--</td> <!--default-->
</tr>
</table>
<p>
(all times on this page are UTC)
</p>


<table border=1>
<tr>
    <th>&#160</th><th colspan=6>Attenuated - projects fluences based on upcoming SI and grating configuration
    <br>ACIS effective exposure times (ks)
    &#160 &#160 Until next radzone:   <span id="attenuated_rad_duration">--</span><!--float ks-->
    &#160 &#160 Until next comm:    <span id="attenuated_next_comm_duration">--</span><!--float ks-->
    </th>
</tr>
<tr>
    <th>&#160</th><th>Current Flux</th><th>Current fluence<br>(total so far in current orbit)</th>
    <th>Projected fluence<br>until next rad zone</th>
    <th>Projected fluence</th><th>&#160</th><th>Limits</th>

    <tr><th>&#160</th><th>(p/cm^2-s-sr-MeV)</th><th>(p/cm^2-sr-MeV)</th>
    <th>at current flux<br />(at 2X flux)<br/>*at 10X flux*</th>
    <th>until next comm.</th><th>until second comm.</th><th>&#160</th>
</tr>
<tr>
    <th>CRM</th>
    <td id="attenuated_crm_flux">--</td><!--e-notation-->
    <td id="attenuated_crm_fluence">--</td><!--e-notation-->
    <td>
        <span id="attenuated_projected_crm_fluence_rad_1">--</span><br><!--e-notation-->
        (<span id="attenuated_projected_crm_fluence_rad_2">--</span>)<br><!--e-notation-->
        *<span id="attenuated_projected_crm_fluence_rad_10">--</span>*<br><!--e-notation-->
    </td>
    <td id="attenuated_projected_crm_fluence_next_comm">--</td><!--e-notation-->
    <td id="attenuated_projected_crm_fluence_second_comm">--</td><!--e-notation-->
    <td>Yellow Limit:<br>1.000e+09 (fluence)</td>
</tr>
<tr>
    <th>ACE P3</th>
    <td id="attenuated_ace_flux">--</td><!--e-notation-->
    <td id="attenuated_ace_fluence">--</td><!--e-notation-->
    <td>
        <span id="attenuated_projected_ace_fluence_rad_1">--</span><br><!--e-notation-->
        (<span id="attenuated_projected_ace_fluence_rad_2">--</span>)<br><!--e-notation-->
        *<span id="attenuated_projected_ace_fluence_rad_10">--</span>*<br><!--e-notation-->
    </td>
    <td id="attenuated_projected_ace_fluence_next_comm">--</td><!--e-notation-->
    <td id="attenuated_projected_ace_fluence_second_comm">--</td><!--e-notation-->
    <td>Alert Trigger:<br>1.000e+09 (fluence)</td>
</tr>
<tr>
    <th>GOES-R (P4)</th>
    <td id="attenuated_p4_flux">--</td><!--e-notation-->
    <td id="attenuated_p4_fluence">--</td><!--e-notation-->
    <td>
        <span id="attenuated_projected_p4_fluence_rad_1">--</span><br><!--e-notation-->
        (<span id="attenuated_projected_p4_fluence_rad_2">--</span>)<br><!--e-notation-->
        *<span id="attenuated_projected_p4_fluence_rad_10">--</span>*<br><!--e-notation-->
    </td>
    <td id="attenuated_projected_p4_fluence_next_comm">--</td><!--e-notation-->
    <td id="attenuated_projected_p4_fluence_second_comm">--</td><!--e-notation-->
    <td>&#160</td>
</tr>
<tr>
    <th>GOES-R (P7)</th>
    <td id="attenuated_p7_flux">--</td><!--e-notation-->
    <td id="attenuated_p7_fluence">--</td><!--e-notation-->
    <td>
        <span id="attenuated_projected_p7_fluence_rad_1">--</span><br><!--e-notation-->
        (<span id="attenuated_projected_p7_fluence_rad_2">--</span>)<br><!--e-notation-->
        *<span id="attenuated_projected_p7_fluence_rad_10">--</span>*<br><!--e-notation-->
    </td>
    <td id="attenuated_projected_p7_fluence_next_comm">--</td><!--e-notation-->
    <td id="attenuated_projected_p7_fluence_second_comm">--</td><!--e-notation-->
    <td>&#160</td>
</tr>
<tr>
    <th>GOES-R (E>2.0MeV)</th>
    <td id="attenuated_e2_flux">--</td><!--e-notation-->
    <td id="attenuated_e2_fluence">--</td><!--e-notation-->
    <td>
        <span id="attenuated_projected_e2_fluence_rad_1">--</span><br><!--e-notation-->
        (<span id="attenuated_projected_e2_fluence_rad_2">--</span>)<br><!--e-notation-->
        *<span id="attenuated_projected_e2_fluence_rad_10">--</span>*<br><!--e-notation-->
    </td>
    <td id="attenuated_projected_e2_fluence_next_comm">--</td><!--e-notation-->
    <td id="attenuated_projected_e2_fluence_second_comm">--</td><!--e-notation-->
    <td>&#160</td>
</tr>
<tr>
    <th colspan=7>&#160</th>
</tr>
<tr>
    <th>&#160</th><th colspan=6>External - does not take the instrument configuration into account</th>
</tr>
<tr>
    <th>&#160</th><th>Current Flux</th><th>Current fluence<br>(total so far in current orbit)</th>
    <th>Projected fluence</th>
    <th>Projected fluence</th>
    <th>&#160</th>
    <th>Limits</th>
</tr>
<tr>
    <th>&#160</th>
    <th>(p/cm^2-s-sr-MeV)</th>
    <th>(p/cm^2-sr-MeV)</th>
    <th>until next radzone<br>(total for current orbit)</th>
    <th>until next comm.</th>
    <th>until second comm.</th>
    <th>&#160</th>
</tr>
